<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Slim Responsive Bootstrap 4 Admin Template</title>

    <!-- vendor css -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="css/rickshaw.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">



    <!-- Slim CSS -->
    <link rel="stylesheet" href="css/slim.css">

</head>

<body>
    <div class="slim-header">
        <div class="container">
            <div class="slim-header-left">
                <h2 class="slim-logo"><a href="index.html">Eventos Morelos<span>.</span></a></h2>

                
            </div><!-- slim-header-left -->
            <div class="slim-header-right">

                <div class="dropdown dropdown-c">
                    <a href="#" class="logged-user" data-toggle="dropdown">
                      
                        <span>{{usuario.nombre}}</span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <nav class="nav">

                            <a href="/logout" class="nav-link"><i class="icon ion-forward"></i>Cerrar
                                Sesión</a>
                        </nav>
                    </div><!-- dropdown-menu -->
                </div><!-- dropdown -->
            </div><!-- header-right -->
        </div><!-- container -->
    </div><!-- slim-header -->

    <div class="slim-navbar">
        <div class="container">
            <ul class="nav">



                <li class="nav-item">
                    <a class="nav-link" href="/dashboardU">
                        <i class="icon ion-ios-chatboxes-outline"></i>
                        <span>Usuarios</span>

                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboardE">
                        <i class="icon ion-ios-analytics-outline"></i>
                        <span>Eventos</span>
                    </a>
                </li>
            </ul>
        </div><!-- container -->
    </div><!-- slim-navbar -->

    <div class="slim-mainpanel">
        <div class="container">
            <div class="slim-pageheader">
                <ol class="breadcrumb slim-breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                    <li class="breadcrumb-item">Evento</li>
                    <li class="breadcrumb-item active" aria-current="page">Agregar Evento</li>
                </ol>
                <h6 class="slim-pagetitle">Agregar Usuario</h6>
            </div><!-- slim-pageheader -->

            {{!-- PANTALLA 2: AGREGAR USUARIO --}}
            <div class="row" id="pantalla-agregarUsuario">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            {{> messages}}
                            {{> errors}}

                            <form action="/eventos" method="POST" class="p-3" enctype="multipart/form-data">

                                <div class="form-group row">
                                    <div class="col-12">
                                        <label for="nombre">Titulo</label>
                                        <input type="text" class="form-control" id="titulo" name="titulo"
                                            placeholder="Ingresa titulo">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-12">
                                        <label for="nombre">Descripcion</label>
                                        <textarea class="form-control" name="descripcion" id="descripcion"></textarea>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-12">
                                        <label>Fecha de realizacion</label>
                                        <input type="date" class="form-control" id="fechaRealizacion"
                                            name="fechaRealizacion">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-12">
                                        <label>Imagen </label>
                                        <input type="file" name="imagen">
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <div class="col-12">
                                        <label>Lugar</label>
                                        <select class="form-control" name="lugar">
                                            <option disabled selected>Seleccione lugar</option>
                                            {{#each lugares}}
                                                <option value="{{this.id}}">{{this.nombre}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div> 

                                <div class="row justify-content-center mb-4">
                                    <div class="col-4">
                                        <button class="btn btn-success btn-block" type="submit">Agregar Evento</button>
                                    </div>
                                </div>

                            </form>

                        </div>







                    </div><!-- section-wrapper -->
                </div>
            </div>
        </div>

    </div>

    </div><!-- row -->



    </div><!-- container -->
    </div><!-- slim-mainpanel -->

    <div class="slim-footer">
		<div class="container">
			<p>Copyright 2018 &copy; All Rights Reserved. Eventos Morelos</p>
			
		</div><!-- container -->
	</div><!-- slim-footer -->

    <script src="js/jquery.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script src="js/ResizeSensor.js"></script>
    {{!-- <script src="js/dashboard.js"></script> --}}
    <script src="js/slim.js"></script>
    <script src="js/app.js"></script>

</body>

</html>